.window{

    border-top: 1px solid var(--gray-300);
    padding-top: 1rem;

    margin-bottom: 1rem;


}


.main{
    display: grid;
    grid-template-columns: 3rem 1fr;
    gap: 1rem;
}




.head{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.itens{
    background-color: var(--gray-300);
    padding: 1rem;
    border-radius: 8px;
}

.names strong{
    display: block;
    cursor: pointer;
    transition: all .1s;
}.names strong:hover{
    color: var(--blue-900);
    text-decoration: underline;
}
.names span{
    display: block;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    color: var(--mag-white);
}

.geral button{
    margin-top: 1rem;
    display: flex;
    gap: 0.25rem;
    cursor: pointer;
    font-weight: 500;

    border: none;
    background: none;
    color: var(--mag-white);
    transition: .1s;

}.geral button:hover{
    color: var(--blue-900);
}

.geral button span::before{
    content: "\2022";
    padding: 0 0.25rem;
}

.head i:hover{
    color: var(--danger);
    cursor: pointer;
    transition: .1s;
    transform: scale(1.01);
}
