.main_box{
    background-color: var(--gray-500);
    padding: 1.5rem;
    border-radius: 8px;
}


.info_header{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info_header time{
    font-size: 0.75rem;
    color: var(--mag-white);
}

.info_perfil{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.id strong{
    display: block;
    font-size: 1rem;
    line-height: 1.8rem;
    color: var(--white);
}
.id span{
    display: block;
    font-size: 0.75rem;
    color: var(--mag-white);
}



/* Bodyy */
.body_{
    margin-top: 1rem;
    padding: 1rem 3rem 1rem 1rem;
    border-radius: 8px;

    background-color: var(--gray-300);
}

.body_ p{
    font-size: 1rem;
}

.body_ a{
    text-decoration: underline;
    color: var(--blue-900);
}

.body_ p.hash{
    font-weight: 700;
    font-size: 0.7rem;
    color: var(--blue-500);
}

/* Feedback */
.feedback{
    margin-top: 2rem;
    padding-top: 1rem;
}

.feedback strong{
    display: block;
    line-height: 1.5rem;
    font-size: 0.95rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

form{
    display: flex;
    flex-direction: column;
    padding: 0 0 1rem 0;
}

form textarea{

    
    width: 100%;
    height: 6rem ;
    padding: 1rem;
    font-size: 0.8rem;

    border-radius: 8px;
    background-color: var(--gray-900);
    color: var(--white);
    border: none;
    resize: none;
    

}

form textarea:focus{
    outline: 1px solid var(--blue-500);
}

form input{
    padding: 0.5rem 1rem;
    border-radius: 8px;
    margin-top: 0;
    border: none;
    outline: none;
    cursor: pointer;

    font-weight: 600;
    letter-spacing: 0.04rem;
    background-color: var(--blue-500);
    color: var(--gray-500);

    visibility: hidden;
    width: 6rem;
    max-height: 0;
}
form input:hover{
    background-color: var(--blue-300);
    color: var(--gray-700);
}

form:focus-within input{
    visibility: visible;
    max-height: none;
    margin-top: 1rem;
}



@media (max-width:768px){

    form textarea{
        height:3rem ;
        
    }

}